/* Reset
--------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global styles
--------------------------------- */
@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2") format("truetype"), url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
}

/* Content */
.content {
    padding-top: 160px;
}

/* Typography */
h1 {font-size: 3em; line-height: 135%;}
h2 {font-size: 2.5em; line-height: 135%;}
h3 {font-size: 2em; line-height: 135%;}
h4 {font-size: 1.5em; line-height: 135%;}
h5 {font-size: 1em; line-height: 135%;}
h6 {font-size: 0.75em; line-height: 135%;}
p {font-size: 1em; line-height: 125%;}

/* Section */
section>.container {
    padding: 30px 0;
}

/* Header
--------------------------------- */
header {
    width: 100%;
    background: #fff;
    position: fixed;
    border-bottom: 1px solid #ddd;
    z-index: 9999;
}
.header__main {
    padding: 10px 0;
    border-bottom:1px solid #ccc;
}

/* Top Bar */
.header__top-bar {
    background: #8F4DED;
    color: #cdcdcd;
}

/* Logo */
.header__brand {
    max-width: auto;
    max-height: 90px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.header__logo--big {
    width: auto;
    font-size:25px;
    color:#ac45f3;
}
.header__logo--small {
    width: auto;
    font-size: 18px;
    color:#000;
}

/* Search */
.header__search.col-md-8 {
    width: auto;
    float: right;
    display: initial;
}
.search__icon--light {
    color:#fff;
}
.top__search {
    float: right;
}
.top__search--input {
    height: 40px;
    padding: 0 20px;
    width: 130px;
    background: transparent;
    color:#cdcdcd;
    border: none;
    border-left: 1px solid #7622ed;
    transition: all 0.5s;
}
.top__search--input:focus, .top__search--input:active {
    width: 190px;
    outline: none;
    transition: all 0.5s;
}
.top__search--submit {
    height: 40px;
    padding: 0 20px;
    background: #7622ed;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-right: 1px solid #7622ed;
    border-radius: 0;
}
.top__search--submit:hover {
    background: #690ced;
}
.top__search--input::-webkit-input-placeholder {
    color: #fff;
}
.top__search--input::-moz-placeholder {
    color: #fff;
}
.top__search--input:-ms-input-placeholder {
    color: #fff;
}

/* Header Social buttons */
.header__social.col-md-4 {
    width: auto;
    display: inline-block;
}
.social-networks {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.social-networks li {
  display: inline-block;
}
.social-networks a {
    width: 40px;
    height: 40px;
    margin: 0;
    display: block;
    position: relative;
    font-size: 0;
    line-height: 0;
    text-align: center;
    text-decoration: none;
}
.social-networks a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 100px;
  background-color: transparent;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.social-networks a:after {
  position: relative;
  display: block;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}
.social-networks a:hover, .social-networks a:focus {
  text-decoration: none;
}
.social-networks.spin-icon a:hover:after, .social-networks.spin-icon a:focus:after {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}
.social-networks.square a:hover:before, .social-networks.square a:focus:before {
  border-radius: 0;
}
.social-networks.bounce a:hover, .social-networks.bounce a:focus {
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
}
.social-networks .icon-linkedin:after {
  content: "";
}
.social-networks .icon-linkedin:hover:before, .social-networks .icon-linkedin:focus:before {
  background: #0077b5;
}
.social-networks .icon-facebook:after {
  content: "";
}
.social-networks .icon-facebook:hover:before, .social-networks .icon-facebook:focus:before {
  background: #3b5998;
}
.social-networks .icon-twitter:after {
  content: "";
}
.social-networks .icon-twitter:hover:before, .social-networks .icon-twitter:focus:before {
  background: #00b0ed;
}
.social-networks .icon-github:after {
  content: "";
}
.social-networks .icon-github:hover:before, .social-networks .icon-github:focus:before {
  background: #4183c4;
}
.social-networks .icon-instagram:after {
  content: "";
}
.social-networks .icon-instagram:hover:before, .social-networks .icon-instagram:focus:before {
  background: #3f729b;
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -6px, 0);
            transform: translate3d(0, -6px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -6px, 0);
            transform: translate3d(0, -6px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
  }
}
/* Menus
--------------------------------- */

/* Menu Header */
.header__navbar ul li { display: inline; }
.area-menu { background: #f3f3f3; padding: 15px 0; }
.header__navbar ul { list-style: none; padding: 0; margin: 0; font-size: 28px; }
.header__navbar ul li { display: inline;  margin: 0 30px 0 0;}
.header__navbar ul li:last-child { margin: 0; }
.header__navbar ul li a { text-transform: uppercase; color: #4c1b1b;  text-decoration: none;}
.header__navbar ul  li.current-menu-item a { color:#ef3939; }

/* Menu Footer */
.menu-rodape ul{ list-style: none; padding: 0; margin: 0; font-size: 20px; }
.menu-rodape ul li{ display: inline;  margin: 0 15px 0 0;}
.menu-rodape ul li:last-child{ margin: 0; }
.menu-rodape ul li a{ color: #fcfae1;  text-decoration: none;}
.menu-rodape ul  li.current-menu-item a{ color:#e58888; }

/* Sections
--------------------------------- */

/* Section Slide */
.slide {
    padding: 25px 0;
}

/* Section Service */
.services {
    background-image: linear-gradient(150deg, #8F4DED 0%, #4870EA 100%);
    padding: 0;
    color: #fefefe;
}
.services h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
}
.services p {
    margin-bottom: 10px;
    font: 100 1em/1.3 Roboto,Arial,Helvetica,Sans-serif;
}
.angle-top {
    display: -webkit-box;
    float: right;
    top: -5px;
    right: 0;
    fill: white;
    height: 50px;
}
.svg-wave-hero {
    display: -webkit-box;
    bottom: 0;
    left: 0;
    fill: white;
    width: 400px;
    height: 70px;
}

/* Section Middle */
.middle {
    padding: 25px 0;
}
.middle h1{
    color: #4c1b1b;
    text-transform: uppercase;
}

/* Middle - Sidebar */
.sidebar {
    background: #f6e497;
    padding: 20px;
}

/* Images */
.alignleft {
    float:left;
    margin-right:20px;
}

/* Blog
--------------------------------- */

/* Posts */

.wp-post-image {
    float: left;
    margin: 0 15px 10px 0;
}

.post__format {
    width: 100%;
    margin-bottom: 20px;
    height: auto;
    display: inline-block;
}
.post__format--image {
    width: 100%;
    margin-bottom: 20px;
    height: auto;
    display: inline-block;
}
.post__format--video {
    width: 100%;
    margin-bottom: 20px;
    height: auto;
    display: inline-block;
}
.post__title {
    text-transform: uppercase;
    text-decoration: none;
    font: 900 1.5em/1.3 Roboto,Arial,Helvetica,Sans-serif;
    color: #000;
    margin-bottom: 10px;
    display: block;
}
.post__category {
    margin-bottom: 10px;
    font-size: 0.9em;
}
.post__category a {
    color:red;
}
.post__publish {
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #454555;
}
.post__miniature {
    margin-bottom: 20px;
    overflow: hidden;
}
.post__miniature--large {
    max-height: 300px;
}
.post__miniature--medium {
    max-height: 190px;
}

/* Widgets
--------------------------------- */
.widget__title {
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font: 900 1.2em/1.3 Roboto,Arial,Helvetica,Sans-serif;
    color: #000;
}

/* Footer
--------------------------------- */
footer {
    padding: 15px 0;
    background: #012;
    color: #ababab;
    border-top: 1px solid #456;
}

.footer__navbar ul li {
    display: inline;
}
